<div  class="ui dimmer visible active" (click)="onCloseModal()">
    <div class="ui modal visible active" (click)="$event.stopPropagation()">
        <i class="close icon" (click)="onCloseModal()"></i>
        <div class="header">
           <ng-content select="modal-header"></ng-content>
           
        </div>
        <div class="content">
             <ng-content select="Modal-content"></ng-content>
             
        </div>
        <div class="actions actions-default" *ngIf="isExistFooter">
            <button class="ui button" (click)="onCloseModal()" *ngIf="defaultButton">OK</button>
            <ng-content select="modal-content" *ngIf="newButton"></ng-content>
            
        </div>
    </div>
</div>